@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:400");

:root {
  --black: #000000;
  --white: #ffffff;
  --font-size-m: 36px;
  --font-family-bebas_neue: "Bebas Neue", Helvetica;
}

* {
  box-sizing: border-box;
}

.articles-1 {
  align-items: flex-start;
  background-color: #e5d5efb2;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1390px;
  overflow: hidden;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.articles-3 {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-bebas_neue);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 352px;
  margin-top: 91px;
  min-height: 52px;
  width: 464px;
}

.article-1-2,
.article-1-3 {
  background-color: var(--black);
  border-radius: 20px;
  display: flex;
  height: 160px;
  margin-left: 84px;
  margin-top: 66px;
  width: 901px;
}

.article-info {
  display: flex;
  flex-direction: column;
  height: 128px;
  margin-left: 41px;
  width: 813px;
}

.bebasneue-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-bebas_neue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}


.article-information {
  height: 88px;
  letter-spacing: 0;
  line-height: normal;
  width: 809px;
}





.rectangle-4 {
  background-color: var(--black);
  border-radius: 20px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}


.article-1-1 {
  background-color: var(--black);
  border-radius: 20px;
  display: flex;
  height: 160px;
  margin-left: 84px;
  margin-top: 93px;
  width: 901px;
}



.overlap-group2 {
  height: 153px;
  position: relative;
  width: 1440px;
}


.articles-2 {
  left: 892px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 130px;
}

.place {
  left: 1310px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 130px;
}


.rectangle-1 {
  background-color: var(--black);
  border-radius: 10px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 1440px;
}



.title {
  left: 736px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 130px;
}


.load-more {
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 239px;
}

