{%extends 'base.html'%}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}

<div class="info-landing-page">
  <div class="overlap-group2">
    <div class="cybrelle-container bebasneue-normal-black-36px">
      <h1 class="with-cybrelle-you-c">
        With Cybrelle, you can stop worrying about potential threats and focus on growing your business.
      </h1>
      <p class="cybrelle-is-an-autom">
        Cybrelle is an automated Vulnerability triage and management solution that provides you with the exact
        information you need to know about your network&#39;s vulnerabilities. All this with just a few clicks!
      </p>
    </div>
    <div class="overlap-group1">
      <div class="rectangle-3"></div>
      <div class="learn-more">Learn More</div>
    </div>
    <img class="cybrelle-logo5-1" src="{% static 'images/cybrelle-logo-5--1@1x.png' %}" alt="Cybrelle-logo(5) 1" />
  </div>
  <div><form method="post" action="{% url 'subscription' %}">
    {% csrf_token %}
  
    <div class="sign-up-newsletter">
      <label>Subscribe to get the latest Articles</label> <br>
      <input type="email" name="email" placeholder="Enter Email to Subscribe">
      <button class="btn btn-info" type="submit">Submit</button>
    </div>
  
  </form>
  {% if messages %}
  {% for message in messages %}
    <div class="my-5 alert alert-success">
      <h5 class="m-0">
          {{ message }}
      </h5></div>
</div>

  </div> 
<div>
  
  

    {% endfor %}
  {% endif %}

{% endblock %}

