{% extends 'index.html' %}
{% block title %}About Cybrelle{% endblock %}
{% block content %}
{% load static %}
  <div class="columns w-row">
    <div class="w-col w-col-6"><img src="{% static 'images/Cybrelle-logo5.png' %}" loading="lazy" alt="" class="image-2"></div>
    <div class="w-col w-col-6">
      <p class="paragraph-5">Cybrelle's mission is to aid organizations in securing their environments. As 46% of all cyber attacks occur against small businesses, it is important to make sure your organization is secure and has the the information it needs to lessen its attack surface.</p>
    </div>
  </div>
 {% endblock%}