{%extends 'base.html'%}
{% block title%} About Cybrelle{% endblock %}
{% load static %}
{% block content %}
<div class="about-us-about bebasneue-normal-black-36px">About US</div>
  <p class="cybrelles-mission-i bebasneue-normal-black-36px">
    Cybrelle's mission is to aid&nbsp;&nbsp;organizations in securing their
    environments. As 46% of all cyber attacks occur against small businesses, it
    is important to make sure your organization is secure and has the tools to
    defend against modern cyber threats . Our goal is to make sure you can run
    your business and not worry about getting compromised. <p/>
{% endblock %}