{% extends 'index.html' %}
{% block title  %}Cybrelle's Blog{% endblock %}
{% block content %}
<section class="team-slider wf-section">
    <div class="container-7">
      <h2 class="centered-heading">Blog Posts</h2>
      <div data-delay="4000" data-animation="slide" class="team-slider-wrapper w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="12" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="team-slide-wrapper w-slide">
            <div class="team-block"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124af1aa12aadf_placeholder%201.svg" loading="lazy" alt="" class="team-member-image-two">
              <div class="team-block-info">
        {% for article in articles%}
                <h3 class="team-member-name-two"><a href="{% url 'blog' article.id %}">{{ article.post_title}}</h3>
                <p class="team-member-text">{{ article.post_body | truncatechars:40 }}</p>
                <a href="#" class="text-link-arrow w-inline-block">
                  <div class="text-block">Read more</div>
                  <div class="arrow-embed w-embed"><svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.72 15L16.3472 10.357C16.7732 9.92932 16.7732 9.23603 16.3472 8.80962L11.72 4.16667L10.1776 5.71508L12.9425 8.4889H4.16669V10.6774H12.9425L10.1776 13.4522L11.72 15Z" fill="currentColor"></path>
                    </svg></div>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="team-slider-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="team-slider-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="team-slider-nav w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </section>


{% endblock %}
 