{% extends 'dashboard.html' %}
{% block title %} Cybrelle Dashboard {% endblock %}
{% block content%}
<div class="hosts-box">
    <div class="hosts-group bebasneue-normal-black-36px">
      <div class="hosts">Hosts</div>
      <div class="ip-addresses">
        {% for host in Hosts %}
        <div class="ip-and-host1">
          
          <div class="phone-1">{{ host.ip_address }}</div>
          <div class="dns">{{ host.hostname }}</div>
          {% endfor %}
        </div>
        
        </div>
      </div>
      
    </div>
  </div>
  <div class="overlap-group5">
     
    <div class="cv-es-and-exploits-box">
      <div class="cve-and-exploits bebasneue-normal-black-36px">

        <div class="cv-es-and-exploits">CVE's and Exploits</div>
        <div class="hosts-cv-es">
          <div class="hosts-cv-es-item">
            {% for host in Hosts %}
           <div class="phone-4">{{host.ip_address}}</div>
          </div>
            {% endfor %}
          <div class="hosts-cv-es-item">
            {% with result=get_CVES.self %}
            {% for cve in result %}
            <div class="cve-2005-19763">{{cve.cves}}</div>
            
          </div>
            
            {% endfor %}
            {% endwith %}
        </div>
      </div>
    </div>
    <div class="overlap-group-container">
      <div class="overlap-group2">
        <div class="rectangle-21"></div>
        <div class="vulnerability-info bebasneue-normal-black-36px">
          {% for cve in CVE %}
          <div class="about-exploit-cve-2005-19763">About Exploit {{cve.cves}}</div>
        </div>
      </div>
      {% endfor %}
      <div class="overlap-group3 bebasneue-normal-black-36px">
        <div class="rectangle-23"></div>
        <p class="how-to-fix-exploit-cve-2005-19763">How to fix Exploit {{CVE.cves}}</p>
        <p class="information-regardin">{{Instructions.instruction}}</p>
      </div>
    </div>
  </div>
  {% endblock %}