{%extends 'base.html'%}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<<div class="info-landing-page">
  <div class="overlap-group-container">
    <div class="cybrelle-container bebasneue-normal-black-36px">
      <p class="with-cybrelle-you-c">
        With Cybrelle, you can stop worrying about potential threats and focus on growing your business.
      </p>
      <p class="cybrelle-is-an-autom">
        Cybrelle is an automated Vulnerability triage and management solution that provides you with the exact
        information you need to know about your network&#39;s vulnerabilities. All this with just a few clicks!
      </p>
    </div>
    <div class="overlap-group1">
      <div class="rectangle-3"></div>
      <div class="learn-more bebasneue-normal-snuff-36px">Learn More</div>
    </div>
  </div>
  <img class="cybrelle-logo5-1" src="{% static 'images/cybrelle-logo-5--1@1x.png' %}" alt="Cybrelle-logo(5) 1" />
</div>
{% endblock %}

