{% extends 'index.html' %}
{% block title %} Cybrelle's PRoducts {% endblock %}
{% block content %} 
 <section class="hero-without-image-2 wf-section">
    <div class="container-7">
      <div class="hero-wrapper-two-2">
        <h1 class="heading-6">cybrelle</h1>
        <p class="margin-bottom-24px-3">CCybrelle is a vulnerability management solution that detects vulnerabilities for your entire system and gives you directions on how to make your configuration files more secure. This is so you can make an informed decision on how to act on it.</p>
        <a href="{% url 'register' %}" class="button-primary-4 w-button">Get Started</a>
      </div>
    </div>
  </section>
  <section class="features-list wf-section">
    <div class="container-7">
      <div class="features-wrapper-two">
        <div class="features-left">
          <h3 class="heading-8">Features section</h3>
          <p class="features-paragraph">Here are some of the top features of Cybrelle</p>
          <a href="#" class="text-link-arrow w-inline-block">
            <div>Learn more</div>
            <div class="arrow-embed w-embed"><svg width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.13 8.5L6.87296 4.24291L5.87067 5.24379L9.129 8.5L5.87067 11.7555L6.87225 12.7571L11.13 8.5Z" fill="currentColor"></path>
              </svg></div>
          </a>
        </div>
        <ul role="list" class="features-right w-list-unstyled">
          <li class="features-block-two">
            <p class="paragraph-6">Uses AI to give you insight on how to fix your configuration files</p>
          </li>
          <li class="features-block-two">
            <p class="paragraph-7">Shows your System and network vulnerabilities for each Host you add</p>
          </li>
          <li class="features-block-two">
            <p class="paragraph-8">Presents all information for each vulnerability in a format that is easy to understand</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  {% endblock %}
  