{% extends 'index.html'%}
{% block title %} Registration {% endblock%}  
{% block content %}
{% load crispy_forms_tags %}
  
  <div class="w-container">
    <form method="post">
      {% csrf_token %}{{form|crispy}}
      <p>Have an account? Login <a href="/login"> Here</a></p>
      <button type="submit" class="btn btn-success">Register</button>
  </form>
  </div>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  {% endblock %}