{%extends 'index.html' %}
{% block title} Cybrelle Pricing {%endblock%}
{% block content%}
<section class="pricing-comparison wf-section">
    <div class="container-7">
      <div class="pricing-wrapper">
        <div id="w-node-c996f017-00a5-c1c0-91db-02e932a2b95c-7712c368" class="pricing-card">
          <h2 class="pricing-title">Professional</h2>
          <div class="pricing-subtitle">Starting at</div>
          <div class="pricing-price">$49/mo</div>
          <div class="paragraph-regular margin-bottom-20">Lorem ipsum dolor</div>
          <a href="#" class="button-primary-4 outline-button w-button">Talk to an Expert</a>
          <div class="pricing-divider"></div>
          <ul role="list" class="pricing-feature-list w-list-unstyled">
            <li>
              <div class="pricing-feature">Add up to 5 Hosts to your Organization</div>
            </li>
            <li>
              <div class="pricing-feature">Only 1 account can be addred in your organization</div>
            </li>
          </ul>
        </div>
        <div id="w-node-c996f017-00a5-c1c0-91db-02e932a2b97c-7712c368" class="pricing-card featured-pricing">
          <h2 class="pricing-title">Business</h2>
          <div class="pricing-subtitle">Starting at</div>
          <div class="pricing-price">$75/mo</div>
          <div class="paragraph-regular margin-bottom-20">Lorem ipsum dolor</div>
          <a href="#" class="button-primary-4 w-button">Talk to an Expert</a>
          <div class="pricing-divider"></div>
          <ul role="list" class="pricing-feature-list w-list-unstyled">
            <li>
              <div class="pricing-feature">Add up to 10 Hosts to your Organization</div>
            </li>
            <li>
              <div class="pricing-feature">1 Admin Level Account and 5 accounts with access dictated by the admin</div>
            </li>
          </ul>
          <div class="pricing-tag">Recommended</div>
        </div>
        <div id="w-node-c996f017-00a5-c1c0-91db-02e932a2b9a4-7712c368" class="pricing-card">
          <h2 class="pricing-title">Enterprise</h2>
          <div class="pricing-subtitle">Starting at</div>
          <div class="pricing-price">$150/mo</div>
          <div class="paragraph-regular margin-bottom-20">Lorem ipsum dolor</div>
          <a href="#" class="button-primary-4 outline-button w-button">Talk to an Expert</a>
          <div class="pricing-divider"></div>
          <ul role="list" class="pricing-feature-list w-list-unstyled">
            <li>
              <div class="pricing-feature">Add up to 20 hosts with option to expand (Please contact us directly for expansion)</div>
            </li>
            <li>
              <div class="pricing-feature">5 Admin level accounts with 10 accounts that are given access dictated by the admin</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}